* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo-container {
  width: 100%;
  height: 150px;
  background-image: url('../img/pattern.png');
  background-color: rgb(78, 160, 255);
}

.logo-container > .logo-img {
  width: 20%;
  margin-top: 50px;
  margin-left: 5px;
}
