* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main,
footer {
  margin: 0 10px;
}

.logo-container {
  width: 100%;
  height: 150px;
  background-image: url('../img/pattern.png');
  background-color: rgb(78, 160, 255);
  margin-bottom: 20px;
}

.logo-container > .logo-img {
  width: 20%;
  margin-top: 50px;
  margin-left: 5px;
}

.title-container {
  margin-bottom: 20px;
}

.article-written-by {
  font-size: 18px;
  color: grey;
}

.article-author {
  color: rgb(32, 169, 229);
}

.article-date {
  font-size: 14px;
  color: grey;
}

.images {
  margin-bottom: 20px;
}

.images-details {
  font-size: 12px;
}

.main-point {
  margin-bottom: 30px;
}

.bullet-point {
  padding-left: 15px;
  margin-bottom: 30px;
}

.table-data {
  margin-bottom: 20px;
}

.table-data table {
  width: 100%;
  border-collapse: collapse;
}

.table-data th {
  background-color: rgb(32, 169, 229);
  color: white;
  text-align: left;
}

.table-data .long {
  width: 60%;
}

.table-data .special {
  background-color: rgb(177, 229, 242);
}

footer {
  margin-top: 40px;
}

footer > h3 {
  font-size: 16px;
  color: grey;
}

.related {
  margin-top: 10px;
  width: 15%;
  height: 208px;
  font-size: 18px;
  color: white;
  padding: 10px;
}

footer > h4 {
  background-image: url('../img/monitor.jpg');
}

footer > h5 {
  background-image: url('../img/graph.jpg');
}
