* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main,
footer {
  margin: 0 10px;
}

.logo-container {
  width: 100%;
  height: 150px;
  background-image: url('../img/pattern.png');
  background-color: rgb(78, 160, 255);
  margin-bottom: 20px;
}

.logo-container > .logo-img {
  width: 20%;
  margin-top: 50px;
  margin-left: 5px;
}

.title-container {
  margin-bottom: 20px;
}

.article-written-by {
  font-size: 18px;
  color: grey;
}

.article-author {
  color: rgb(32, 169, 229);
}

.article-date {
  font-size: 14px;
  color: grey;
}

.images {
  margin-bottom: 20px;
}

.images-details {
  font-size: 12px;
}

.main-point {
  margin-bottom: 30px;
}
